@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Welcome</h1>
    <h2 class="display-4">All links needed to start are in the navigation bar above for your convenience</h2>
    <a asp-controller="Podcasts" asp-action="Index">Podcasts</a>
</div>
